---
import kolo1 from "../../../public/data/kolo1.json";
import {
    type ContestTableEntry,
    type EducationCategory,
    processContestResults
} from "../../util/contestResults";

import { TableView } from "./TableView";

const DataByCategory: Record<EducationCategory | "all", ContestTableEntry[]> = {
    all: processContestResults(kolo1),
    elementary: processContestResults(kolo1.filter(it => it.category === "elementary")),
    high: processContestResults(kolo1.filter(it => it.category === "high")),
    university: processContestResults(kolo1.filter(it => it.category === "university"))
};
---

<div class="container">
    <span class="title">Kolo #1</span>
    <TableView client:load dataByCategory={DataByCategory}/>
</div>

<style>
    .title {
        font-size: 1.6rem;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }

    div:not(.container) {
        display: flex;
        flex-direction: column;
    }

</style>
