---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Results from "../components/results/ResultsLayout.astro";
---

<Layout>
    <main>
        <Header/>
        <Results/>
    </main>
</Layout>

<style>
    body {
        margin: unset;
    }

    main {
        width: 100%;
        font-size: 20px;
        line-height: 1.6;
        color: black;
    }
</style>
