---

---

<h1 id="about">O natjecanju</h1>

<div class="aboutCompetition">
  <p>
    NAP je individualno natjecanje u algoritamskom programiranju koje studentska udruga X.FER 
    organizira već četvrtu godinu, a ove godine otvoreno je za sve učenike i studente. 
    Natjecanje je namijenjeno svima koji su vješti u programiranju i vole rješavati zahtjevne probleme.
    Natjecatelji su podijeljeni u 3 kategorije: osnovna škola, srednja škola i fakultet.  
    Naš sponzori Farseer i Mireo ove godine osigurali su nagrade za najbolje natjecatelje ukupno vrijedne 2000€:    

    <ul>
        <label><b>Osnovna škola</b></label>
        <li>Nagrade za ovu kategoriju će biti naknadno određene</li>
        
        <label><b>Srednja škola</b></label>
        <li>Nagrade za ovu kategoriju će biti naknadno određene</li>
        
        <label><b>Fakultet</b></label>
        <li>za prvo mjesto <strong>500€</strong></li>
        <li>za drugo mjesto <strong>300€</strong></li>
        <li>za treće mjesto <strong>200€</strong></li>
    </ul>
    <br>
  </p>
  <p>
    Natjecanje se sastoji od 5 online rundi, te velikog finala koje će se održati uživo.
    Na finale će biti pozvano najboljih 10 natjecatelja iz svake kategorije, a online runde su otvorenog tipa.

    Online runde će se odvijati na na platformi <a href="kontestis.ac">Kontestis</a>. 
    Natjecatelji se na platformu trebaju prijaviti putem AAI sustava. Postojati će i 
    klonirana runda koja će biti dostupna svim korisnicima (i onima koji se nisu prijavili putem AAI),
    ali ti rezultati se neće uzimati u obzir pri pozivanju u finale.

    Raspored online rundi i finala je sljedeći:
    <ol>
      <li>16/11/2024 u 10:00</li>
      <li>14/12/2024</li>
      <li>18/01/2024</li>
      <li>15/02/2024</li>
      <li>15/03/2024</li>
    </ol>
    <ul>
        <li>Finale 12/4/2024</li>
    </ul>
    *Raspored se još može promjeniti <br><br>
  </p>
  <p>

    Online runde sastoje se od 7 algoritamskih zadataka različitih težina
    koje natjecatelji trebaju riješiti pisanjem programa u proizvoljnom
    programskom jeziku. 

    Finale će se održati u XV. gimnaziji u Zagrebu, gdje će natjecatelji imati mogućnost korištenja
    vlastitog računala ili računala škole. Svim natjecateljima bit će osigurana
    po jedna boca vode i jedna čokolada kojima se mogu poslužiti tijekom
    rješavanja zadataka, a nakon završetka natjecanja moći će se poslužiti
    pizzom i sokovima. Nakon proglašenja pobjednika, bit će dodijeljene diplome
    trima najboljim natjecateljima iz svake kategorije te promotivne majice svim natjecateljima.
  </p>
</div>

<style>
  h1#about {
    margin-left: 50px;
  }
  .aboutCompetition {
    border-left: 6px solid #00b8d4;
    padding: 10px;
    padding-left: 20px;
    margin-top: 20px;
  }
  .aboutCompetition:before {
    font-weight: bold;
    display: block;
    margin: 0 0 10px 0;
  }

  .aboutCompetition p {
    margin: 0 100px 10px 10px;
  }

  .aboutCompetition li{
    padding-left: 20px;
  }
  .aboutCompetition ul, ol{
    margin: 0 0 0 30px;
  }

  
</style>
