---

---

<h1 id="about">O natjecanju</h1>

<div class="aboutCompetition">
  <p>
    SNAP je individualno studentsko natjecanje koje studentska udruga X.FER
    organizira već treće godine. Namijenjeno je za studente koji su vješti u
    programiranju i koji vole teže izazove. Na prošlogodišnjem izdanju ovog
    natjecanja naš sponzor Infinum osigurao je vrijedne nagrade za troje
    najboljih natjecatelja:
    <ul>
      <li>za prvo mjesto <strong>500€</strong></li>
      <li>za drugo mjesto <strong>300€</strong></li>
      <li>za treće mjesto <strong>100€</strong></li>
    </ul>
  </p>
  <p>
    Na natjecanju može sudjelovati maksimalno 30 studenata. Raspored samog
    događaja je sljedeći:
    <ul>
      <li>8:45h okupljanje natjecatelja</li>
      <li>9:00h otvorenje i početak natjecanja (traje 5 sati)</li>
      <li>14:00h druženje i ručak</li>
      <li>15:00h proglašenje pobjednika i dodjela diploma</li>
    </ul>
  </p>
  <p>
    Samo natjecanje sastoji se od 8 algoritamskih zadataka različitih težina
    koje natjecatelji trebaju riješiti pisanjem programa u proizvoljnom
    programskom jeziku. Natjecanje se održava u učionici informatike u XV.
    gimnaziji u Zagrebu, gdje će natjecatelji imati mogućnost korištenja
    vlastitog računala ili računala škole. Svim natjecateljima bit će osigurana
    po jedna boca vode i jedna čokolada kojima se mogu poslužiti tijekom
    rješavanja zadataka, a nakon završetka natjecanja moći će se poslužiti
    pizzom i sokovima. Nakon proglašenja pobjednika, bit će dodijeljene diplome
    trima najboljim natjecateljima te promotivne majice svim natjecateljima.
  </p>
</div>

<style>
  h1#about {
    margin-left: 50px;
  }
  .aboutCompetition {
    border-left: 6px solid #00b8d4;
    padding: 10px;
    padding-left: 20px;
    margin-top: 20px;
  }
  .aboutCompetition:before {
    font-weight: bold;
    display: block;
    margin: 0 0 10px 0;
  }

  .aboutCompetition p {
    margin: 0 0 10px 0;
  }
</style>
