---

---

<div class="container">
    <h1 id="about">O natjecanju</h1>

    <div class="contentContainer">
        <div class="aboutCompetition">
            <div>
                <p>
                    NAP je individualno natjecanje u algoritamskom programiranju koje studentska udruga X.FER
                    organizira već četvrtu godinu, a ove godine otvoreno je za sve učenike i studente.
                    Natjecanje je namijenjeno svima koji su vješti u programiranju i vole rješavati zahtjevne probleme.
                    Natjecatelji su podijeljeni u 3 kategorije: osnovna škola, srednja škola i fakultet.
                    Naš sponzori Farseer i Mireo ove godine osigurali su nagrade za najbolje natjecatelje:
                </p>

                <ul style="padding-top: 1rem">
                    <li>
                        <b>Osnovna škola</b>
                        <ul>
                            <li>Nagrade za ovu kategoriju će biti naknadno određene</li>
                        </ul>
                    </li>
                    <li>
                        <b>Srednja škola</b>
                        <ul>
                            <li>Nagrade za ovu kategoriju će biti naknadno određene</li>
                        </ul>
                    </li>
                    <li>
                        <b>Fakultet</b>
                        <ul>
                            <li>za prvo mjesto <strong>500€</strong></li>
                            <li>za drugo mjesto <strong>300€</strong></li>
                            <li>za treće mjesto <strong>200€</strong></li>
                        </ul>
                    </li>
                </ul>
                <br>
            </div>
            <div>
                <p>
                    Natjecanje se sastoji od 5 online rundi, te velikog finala koje će se održati uživo.
                    Na finale će biti pozvano najboljih 10 natjecatelja iz svake kategorije, a online runde su otvorenog
                    tipa.

                    Online runde će se odvijati na na platformi <a href="https://kontestis.ac">Kontestis</a>.
                    Natjecatelji se na platformu trebaju prijaviti putem AAI sustava. Postojati će i
                    klonirana runda koja će biti dostupna svim korisnicima (i onima koji se nisu prijavili putem AAI),
                    ali ti rezultati se neće uzimati u obzir pri pozivanju u finale.

                    Raspored online rundi i finala je sljedeći:
                </p>
                <ol style="padding: 1rem 0 0 3rem">
                    <li>16/11/2024 u 10:00</li>
                    <li>14/12/2024</li>
                    <li>18/01/2024</li>
                    <li>24/02/2024</li>
                    <li>15/03/2024</li>
                </ol>
                <ul style="padding: 0 0 1rem  3rem">
                    <li>Finale 10/5/2024</li>
                </ul>
                <i style="margin-left: 1rem">*Raspored se još može promjeniti</i>
                <br><br>
            </div>
            <div>
                <p>
                    Online runde sastoje se od 7 algoritamskih zadataka različitih težina
                    koje natjecatelji trebaju riješiti pisanjem programa u proizvoljnom
                    programskom jeziku.

                    Finale će se održati u Zagrebu. Nakon proglašenja pobjednika, bit će dodijeljene diplome
                    trima najboljim natjecateljima iz svake kategorije te promotivne majice svim natjecateljima.
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }

    p {
        width: 100%;
    }

    h1#about {
        margin: 0;
        padding: 0 3rem;
        max-width: max-content;
    }

    .contentContainer {
        width: 100%;
        border-left: 6px solid #00b8d4;
        padding: 1rem 2rem 1rem 0.6rem;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .aboutCompetition {
        max-width: 1200px;
        text-align: justify;
    }

    .aboutCompetition:before {
        font-weight: bold;
        display: block;
        margin: 0 0 10px 0;
    }

    .aboutCompetition p {
        margin: 0 100px 10px 10px;
    }

    .aboutCompetition li {
        padding-left: 20px;
    }

    .aboutCompetition ul, ol {
        margin: 0;
    }


</style>
