---
import { Image } from "astro:assets";
---
<div class="container">
    <div id="rulebooks" class="pravilnici">
        <h2>Pravilnici</h2>

        <div class="get_rulebooks">
            <a class="link"
               href="https://docs.google.com/document/d/1nT8KROz_DpknunQSmrILRduJyN6ilIyasJG-bAY-QsU/edit?usp=drive_link"
               target="_blank">
                <Image src="/icons/doc.png" alt="document" width="20" height="20"/>
                <div>Odluka o održavanju natjecanja</div>
            </a>
            <a class="link"
               href="https://docs.google.com/document/d/1tKBnTB1HlAMCwKXFPm1w7yS6f_2hgQzNyf2F1PFs6YI/edit?usp=drive_link"
               target="_blank">
                <Image src="/icons/doc.png" alt="document" width="20" height="20"/>
                <div>Pravilnik o natjecanju</div>
            </a>
        </div>
    </div>

    <div class="contact">
        <h2>Kontakt</h2>

        <div class="contact-div">
            <span>Mail: <a href="mailto:hello@xfer.hr">hello@xfer.hr</a></span>
        </div>
    </div>
</div>

<style>
    h2 {
        margin: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        background-color: #00b8d4;
        padding: 2rem 3rem 4rem 3rem;
        gap: 4rem;
    }

    .pravilnici {
        min-width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media screen and (max-width: 768px) {
        .pravilnici {
            width: 100%;
        }

        .container {
            flex-direction: column;
            align-items: center;

            div {
                max-width: 400px;
            }
        }

        .contact {
            width: 100%;
        }
    }

    .link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

</style>

