---

---

<footer class="footer">
  <div>Kontaktiraj nas na: <a href="mailto:hello@xfer.hr"> X.FER Mail </a></div>
  <div>Created with ❤️ by Miki</div>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0093cb;
    color: white;
    text-align: center;
  }

    .footer a {
        color: black;
    }

</style>