---

---

<!--- make navigation bar -->
<div class="topnav">
  <div>
    <a href="#centerImg">SNAP!</a>
  </div>
  <div class="right">
    <a href="#about">O natjecanju</a>
    <a href="#galerija">Galerija</a>
  </div>
</div>

<style>
  .topnav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #0093cb;
  }

  .right{
    display: flex;
    flex-direction: row;
  }

  .topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
</style>
