---
import { Image } from "astro:assets";

const images = Astro.glob('/public/images/*.jpeg').then((images) => {
  return images.map((image) => {
    return image.default;
  });
});
---
<h1 id="galerija">
    Galerija
</h1>
<div class="images">
    {
    (await images).map((image, index) => {
        return (
        <Image
            class="imageContainer"
            src={image}
            alt={`Image ${index}`}
            width="300"
            height="200"
        />
        );
    })
    }
</div>
  
  <style>

    #galerija{
        margin-left: 50px;
    }

    .images{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        gap: 2rem;
        margin-left: 1rem;
    }
  </style>

