---

---


<div class="centerImg" id="centerImg">
  <img src="/public/main/logo.svg"/>
</div>

<style>
    .centerImg {
        text-align: center;
        background-color: #00b8d4;
    }
    .centerImg img {
        max-width: 100%;
    }
</style>