---
import { Image } from "astro:assets";
---


<div class="centerImg" id="centerImg">
  <Image src="/public/main/logo.svg" alt="Astro" width={300} height={300} />
</div>

<style>
    .centerImg {
        text-align: center;
        background-color: #00b8d4;
    }
    .centerImg img {
        max-width: 100%;
    }
</style>