---
import { Image } from "astro:assets";
const images = Astro.glob('/public/main/*.svg').then((images) => {
  return images.map((image) => {
    return image.default;
  });
});
---


<div class="centerImg" id="centerImg">
  {
    (await images).map((image, index) => {
      return (
        <Image src={image} alt={`Image ${index}`} width={300} height={300} />
      );
    }
    )
  }
</div>

<style>
    .centerImg {
        text-align: center;
        background-color: #00b8d4;
    }
    .centerImg img {
        max-width: 100%;
    }
</style>