---
import { Image } from "astro:assets";
import logo from "../../public/main/logo.svg";
---


<div class="centerImg" id="centerImg">
    <Image src={logo} alt={`Logo`} width={300} height={300}/>
</div>

<style>
    .centerImg {
        text-align: center;
        background-color: #00b8d4;
    }

    .centerImg img {
        max-width: 100%;
    }
</style>
