---
import { Image } from "astro:assets";
---
<h1 id="rulebooks">Pravilnici</h1>

<div class="get_rulebooks">
    <div id="odluka">
        <img src="/icons/doc.png" alt="document" width="100" height="100" />
        <div>Odluka o održavanju natjecanja</div>
    </div>
    <div id="pravilnik">
        <img src="/icons/doc.png" alt="document" width="100" height="100" />
        <div>Pravilnik o natjecanju</div>
    </div>
</div>

<script>
    var odluka = document.getElementById('odluka');
    var pravilnik = document.getElementById('pravilnik');

    odluka.addEventListener('click', function() {
        window.open('https://docs.google.com/document/d/1nT8KROz_DpknunQSmrILRduJyN6ilIyasJG-bAY-QsU/edit?usp=drive_link', '_blank');
    });

    pravilnik.addEventListener('click', function() {
        window.open('https://docs.google.com/document/d/1tKBnTB1HlAMCwKXFPm1w7yS6f_2hgQzNyf2F1PFs6YI/edit?usp=drive_link', '_blank');
    });
</script>

<style>
    #rulebooks {
        margin-left: 50px;
    }

    .get_rulebooks {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }

    @media screen and (max-width: 768px) {
        .get_rulebooks {
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }
    }

    #odluka, #pravilnik {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

</style>